@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url("./assets/font/Analogist.ttf") format("opentype");
}

@layer base {
	h1 {
    font-family: "MyFont", sans-serif;
		@apply text-4xl;
	}
	h2 {
    font-family: "MyFont", sans-serif;
		@apply text-3xl;
	}
	h3 {
    font-family: "MyFont", sans-serif;
		@apply text-2xl;
	}
	h4 {
    font-family: "MyFont", sans-serif;
		@apply text-xl;
	}
	h5 {
    font-family: "MyFont", sans-serif;
		@apply text-lg;
	}
	h6 {
    font-family: "MyFont", sans-serif;
		@apply text-base;
	}
	p {
    font-family: "MyFont", sans-serif;
		@apply text-sm;
	}
	span {
    font-family: "MyFont", sans-serif;
		@apply text-xs;
	}
}

/* text */
.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.7s steps(1) infinite;
  color: #ff4d6d;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

