@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url("./assets/font/Analogist.ttf") format("opentype");
}

@layer base {
	h1 {
    font-family: "MyFont", sans-serif;
		@apply text-4xl;
	}
	h2 {
    font-family: "MyFont", sans-serif;
		@apply text-3xl;
	}
	h3 {
    font-family: "MyFont", sans-serif;
		@apply text-2xl;
	}
	h4 {
    font-family: "MyFont", sans-serif;
		@apply text-xl;
	}
	h5 {
    font-family: "MyFont", sans-serif;
		@apply text-lg;
	}
	h6 {
    font-family: "MyFont", sans-serif;
		@apply text-base;
	}
	p {
    font-family: "MyFont", sans-serif;
		@apply text-sm;
	}
	span {
    font-family: "MyFont", sans-serif;
		@apply text-xs;
	}
}

.heart-liquid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart-shape {
  position: relative;
  width: 200px;
  height: 180px;
  clip-path: path(
    "M23.6,0c-3.4,0-6.4,2.2-7.6,5.3C14.8,2.2,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4
     c0,9.2,16,21.2,16,21.2s16-12,16-21.2C32,3.8,28.2,0,23.6,0z"
  );
  background-color: #eee;
  overflow: hidden;
}

.liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff4d6d;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation: rise 3s ease forwards;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 45%;
  animation: wave 4s linear infinite;
  bottom: 0;
}

.wave2 {
  animation-delay: -2s;
  opacity: 0.5;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  z-index: 2;
  pointer-events: none;
}

@keyframes wave {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

/* text */
.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.7s steps(1) infinite;
  color: #ff4d6d;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

